{{ content_for_index }}

{% for item in collections.mens.products %}
<div>
  <a href="{{ item.url | within: collection }}">{{ item.title }}</a>
  {{ item.price | money }}
  {% unless item.available %}<br><strong>sold out</strong>{% endunless %}
  <a href="{{ item.url | within: collection }}">
    <img src="{{ item.featured_image.src | img_url: 'large' }}" alt="{{ item.featured_image.alt | escape }}">
  </a>
</div>
  
{% endfor %}


{% for product in collections.frontpage.products limit:4 %}
<div>
  <a href="{{ product.url | within: collection }}">{{ product.title }}</a>
  {{ product.price | money }}
  {% unless product.available %}<br><strong>sold out</strong>{% endunless %}
  <a href="{{ product.url | within: collection }}">
    <img src="{{ product.featured_image.src | img_url: 'large' }}" alt="{{ product.featured_image.alt | escape }}">
  </a>
</div>
{% endfor %}

<!-- {% include 'pricing' %}
  {% section 'pricing' %} -->